* {
  margin: 0;
  padding: 0;
}

.right .container-fluid {
  padding: 0px;
}

.left .container-fluid {
  padding: 0px;
}

.lahjakone {
  display: block;
  justify-content: space-around;
}

.logo {
  width: 100%;
}

.kysymykset {
  display: block;
}

.left {
  background-color: #fff;
  padding: 0px 7% 20px 7%;
}

.left h2 {
  color: rgb(172, 185, 16);
  font-family: Open Sans;
  text-transform: uppercase;
}

.left p {
  font-family: Open Sans;
  font-size: 14px;
}

.right {
  background-color: #fff;
  padding: 20px 7% 0px 7%;
}

.left2 {
  background-color: rgb(172, 185, 16);
  margin: 0% 7% 0% 7%;
}

.left2 label {
  float: left;
}

.left2 p {
  color: #fff;
  font-family: Open Sans;
  font-size: 14px;
  margin-left: 6px;
  line-height: normal;
  float: right;
}

.left2 h4 {
  color: #fff;
  font-family: Open Sans;
  font-size: 20px;
}

.left2 button {
  background-color: #fff;
  padding: 10px;
}

.left2 b {
  color: rgb(172, 185, 16);
  text-transform: uppercase;
  font-family: Open Sans;
  margin: 10px;
  text-align: center;
}

.right2 {
  background-color: rgb(239, 236, 234);
  margin: 0% 7% 4% 7%;
}

.right2 h3 {
  color: rgb(188, 189, 189);
  font-family: Open Sans;
  text-transform: uppercase;
}

.right2 a {
  color: rgb(172, 185, 16);
  font-family: Open Sans;
  font-size: 14px;
}

.right2 p {
  font-family: Open Sans;
  font-size: 14px;
}

.kysymys1 {
  padding: 20px 0px 0px 16px;
}

.kysymys2 {
  padding: 16px 0px 0px 16px;
}

.kysymys3 {
  padding: 16px 0px 0px 16px;
}

.button {
  padding: 16px 0px 20px 16px;
}

.button b {
  font-family: Open Sans;
  font-size: 14px;
}

.teksti {
  padding: 16px;
}

@media(min-width: 768px) {

  .kysymykset {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .lahjakone {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .logo {
    width: auto;
    padding-top: 20px;
  }

  .left {
    padding-bottom: 20px;
  }

  .right {
    padding-bottom: 20px;
  }

  .left2 {
    background-color: rgb(172, 185, 16);
    padding-bottom: 20px;
    margin: 0% 1.33% 0% 7%;
  }

  .right2 {
    background-color: rgb(239, 236, 234);
    padding-bottom: 20px;
    margin: 0% 7% 0% 1.33%;
  }

}

@media(min-width: 992px) {

  .left {
    padding: 0px 0% 20px 10%;
  }

  .right {
    padding: 20px 10% 20px 0%;
  }

  .left2 {
    margin: 0% 1.33% 0% 10%;
  }

  .left p {
    padding-right: 60px;
  }

  .right2 {
    margin: 0% 10% 0% 1.33%;
  }

}
